<%= render "/shared/moveDirStructure" %>

<div id="moveForms" class="hidden">
  <% for @folder in @folders %>
    <%= render "moveForm", :object => @folder %>
  <% end %>
</div>
<div class="actions">
  <button id="move" class="button move">Move</button>
</div>