
#log .file_path, #log .action, #log .controller, #log .user, #log .date, #log .more_info{
	float:left;
}
a:hover, #log .user a:hover{
	text-decoration:underline;
}
#log .row{
clear:both;
padding: 1px 0;
float:left;
width:100%;
}
#log .row:hover{
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	padding:0;
}
#log .date{
	width: 15%;
}
#log .user{
	width: 15%;
}
#log .controller{
	width: 10%;
}
#log .action{
	width: 10%;
}
#log .file_path{
	width: 40%;
}
#log .more_info{
	width: 10%;
}

#log #search{
	margin:10px 0;
}

#log #result{
width: 100%;
clear:both;
float:left;
}

#log #result p{
	margin: 1px 0;
}

#log #result.loading{
background: white url('/images/colorbox/loading.gif') no-repeat center center;
height: 32px;
}
#log form .field label, form .field input, form .field textarea, form .field select{
	float: none;
	clear: none;
}
