* { padding: 0; margin: 0; }

html{
overflow-y: scroll;
font-family: Verdana,Arial;
}

body{
background: url('/images/bg.png');
font-size: 13px;
}

h1,h2,h3,h4,p{
margin-bottom:6px;
}

a{
text-decoration: none;
color: #333333;
}

.clear{
clear: both;
}

form .field{
float:left;
clear:both;
margin-bottom:6px;
}

form .field label,form .field input,form .field textarea{
float:left;
clear:left;
}

ul{
margin-left:25px;
}

/****  Colorbox *********/

#cboxLoadedContent{
  margin:0;
}

#cboxClose{
top:0;
}

#cboxLoadedContent h2{
margin-right:30px;
}

/****  End Colorbox *********/


/****  LOGON PAGE *********/
#logon-box{
  width: 600px;
  margin: 0px auto;
  margin-top: 100px;
}

.logon-box-padder{ 
  padding: 10px;
}

#logon-tabs ul{
  float: right;
  list-style: none;
  margin: 0 100px;
}

#logon-tabs ul li{
  padding: 10px 20px;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-top-right-radius: .5em;
  -moz-border-radius-topRight: .5em;
  -webkit-border-radius-topRight: .5em;
  border-top-left-radius: .5em;
  -moz-border-radius-topLeft: .5em;
  -webkit-border-radius-topleft: .5em;

}

#logon-tabs ul li a{
  text-decoration: none;
  color: #333333;
}

#logon-main{
  background-color: #ffffff;
  padding: 40px 0;
  border: 1px solid #cccccc;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

#logon-main #logo_holder{

  float: left;
  height: 200px;
}

#logon-main #form-holder{
  font-size: 8pt;
  float: right;
  margin-right: 30px;
  padding-left: 30px;
  border-left: 1px dotted #333;
}


#logon-main #form-holder label, .submit-spacer{
  float: left;
  width: 100px;
}

.button{
  float: left;
  margin-left: 100px;
}



#logon-main #actions-holder{
  background: url('/images/logonStrip.png') -10px 0px repeat-x;
  padding: 30px 30px;
}


/***** END LOGON PAGE *********/

/***** SIGN UP PAGE ***********/
#sign-up-form{
  width: 600px;
  margin: 0 auto;
  background-color: #f3f3f3;
}

#sign-up-form #logo-holder{
  background: url('/images/bg.png');
}
#sign-up-form #register-form-holder{
  padding: 10px;
}

#sign-up-form label{
  float: left;
  width: 200px;
}

#sign-up-form .button{
  margin-left: 200px;
  margin-bottom: 20px;
}
/****** END SIGN UP PAGE ******/

/****** MAIN PAGES ************/
  
  #top-menu{
    font-weight:bold;
    width: 100%;
	font-size:11px;
  }
  #top-menu ul#actions-menu{
    margin: 0;
    padding: 0;
  } 
  #top-menu ul#actions-menu li{
    float: left;
    list-style: none;
    padding: 5px 10px;
  }
  
  #top-menu ul#actions-menu li a:hover{
	text-decoration:underline;
  }

  #top-menu #user-bar{
    float: right;
    padding: 5px 10px;
  }
  
  #top-menu #user-bar #user-bar-padder{
    float: left;
  }

  #top-menu #user-bar #user-quota-bar{
    float: left;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    width: 250px;
    height: 15px;
    margin: 2px 10px;
  }
  
  #top-menu #user-bar #user-quota-bar{
    float: left;
  } 

  #top-spacer{
    height: 80px;
  }

  #search-bar{
    background: url('/images/taskbar.png')  repeat-x;
    padding: 10px 0 2px 0;
	float:left;
	width:100%;
	margin-bottom:5px;
  }
  

  #headers{
    float: left;
    width: 100%;
    background: url('/images/filterBar.png');
    font-weight: bold;
    margin-top: 10px;
  }
  
  #file-container{
	clear:both;
  }
  
  
	.mark-it{
	float: left;
	width:2%;
	margin-left:5px;
	}
	.row-container{
		padding: 2px 0;
	}
	.row-container:hover{
		background: transparent url('/images/highlight.png') repeat-x top left;
	}
	
	.name{
	float: left;
	width: 30%;
	}
	.row-container .name a{
		background: transparent url('/images/file.gif') no-repeat left center;
		padding-left:20px;
	}
	.row-container .name a:hover{
		text-decoration:underline;
	}
	.row-container.upFolder .name a{
		background-image: url('/images/up.gif');
	}
	.row-container.folder .name a{
		background-image: url('/images/folder.gif');
	}	
	
	.ext{
	float: left;
	width: 5%;
	}
	.size{
	float: left;
	width: 10%;
	}
	.description{
	float: left;
	width: 30%;
	}
	.date{
	float: left;
	width: 15%;
	}
	.attr{
	float: left;
	width: 5%;
	}


  #bottom-bar{
    background: url('/images/taskbar.png')  repeat-x;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #bottom-bar-padder{
    margin: 0 auto;
    width: 720px;  
    padding-top: 10px;
    margin-bottom: 100px;
  }

  #bottom-bar .icon-link{
    width: 80px;
    float: left;
    color: #333333;
    font-weight: bold;
    font-size: 8pt;
    text-align: center;
    padding: 5px 0;
    -moz-border-radius: 10px;
  }
  
  #bottom-bar .icon-link:hover{
    background-color:#5E5E5E;
    color:silver;
  }
  
/****** END MAIN PAGES ********/

/*************** Move Folder *****************/
#folderMove{
width:400px;
height:350px;
overflow:auto;
padding:5px 5px 5px 0;
border:1px solid silver;
}

#moveDialogLoading{
float:right;
height:32px;
width:32px;
display:block;
background: transparent url('/images/colorbox/loading.gif') no-repeat top left;
display:none;
}

#folderMove ul{
margin-left: 20px;
list-style:none;
}

#folderMove #folderRoot{
margin-left:5px;
}

#folderMove li{
margin:1px 0;
}

#folderMove li a{
background: transparent url('/images/folderOpen.png') no-repeat center left;
padding:2px 5px 2px 16px;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}

#folderMove li a.opened{
background-image:url('/images/folderClose.png');
}
#folderMove li a.selected{
background-color:#B2B2B2;
}

/**************End of Move Folder **************/


/****** OVERLAY **********/
#overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#dddddd;
	
	width:675px;	
	min-height:500px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}