- content_for :page_specific_head do
  = javascript_include_tag 'jquery-1.6.1.min', 'search'


%h1 Admin

%h2 Users

= link_to 'Add New User', new_user_path, :class => 'button new'
.clear

%h3 Search for Users
= render "search"
  