<h2>Move to folder...</h2>
<p>Select a folder to move to...</p>
<div id="folderMove">
  <div id="moveDialogLoading"></div>
  <ul id="folderRoot">
      <li id='allFolders_'><%= link_to 'Root', folder_folderChildren_path(0) %></li>
  </ul>
</div>

<p><strong>Destination: </strong><span id="selectedFolder"></span></p>