%h2 
  Edit Permission
  = @permission.folder.name
%h3 
  For:
  = @permission.parent.name
= render "form"
= button_to "Delete", @permission, :confirm => 'Are you sure?', :method => :delete, :class => 'button delete'
