<ul>
  <% folderPermissions.permissions.where('read_perms = ? OR write_perms = ?', true, true).each do |permission| %>
    <li>
      <% if permission.parent_type == "Group" %>
        Group:
      <% end %>
      <%= permission.parent.name %>
    </li>
  <% end %>
</ul>
<%= link_to 'add permissions', new_folder_permission_path(folderPermissions), :class => 'button addPermission' %>