<%= render "/shared/moveDirStructure" %>

<div id="moveForms" class="hidden">
  <% for @asset in @assets %>
    <%= render "moveForm", :object => @asset %>
  <% end %>
</div>
<div class="actions">
  <button id="move" class="button move">Move</button>
</div>