<h2 class="rename">Rename</h2>
<%= form_for @asset do |f| %>  
  <div class="field">
    <%= f.label :uploaded_file_file_name, "New Name" %>
    <%= f.text_field :uploaded_file_file_name %>  
  </div>
  <p class="field">
    <%= f.submit "Save", :class => 'button save' %>
  </div>
<% end %>  